{% extends 'layout_admin.html' %} {% block title %}Profile{% endblock %} {% block content %}
<h2>Profile Page</h2>
<div>

    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>First Name:</td>
            <td>{{ account[1] }}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{ account[2] }}</td>
        </tr>
        <tr>
            <td>Staff ID:</td>
            <td>{{ account[3] }}</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{ account[4] }}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{ account[5] }}</td>
        </tr>


    </table>

</div>
{% endblock %}