<html>
<head>
  <title>Braven Admin</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!--  <script src="{{ url_for('static', filename='aws-cognito-sdk.min.js') }}"></script>-->
  <!--  <script src="{{ url_for('static', filename='amazon-cognito-identity.min.js') }}"></script>-->
  <!--  <script src="{{ url_for('static', filename='app.js') }}"></script>-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
<script>
        // $(window).ready(setWelcome);
        var username = checkSession();
    </script>


<div class="navbarTeam9">
  <div style="float:right" class="dropdownTeam9">

    <button class="dropbtn">Profile
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a id="myName" href="#">Name</a>
      <script>
      $("#myName").text(username);
      document.getElementById("myName").setAttribute("href","/home/user/" + username);
    </script>
      <a id="myLink" href="#" onclick="signOut();return false;">Sign Out</a>
    </div>

  </div>
  <a class="tab" style="float:right" href="/about">About Team 6</a>
  <a class="tab" style="float:right" id="myLink" href="/upload" onclick="uploadImage();return false;">Upload Image</a>
  <a class="tab" style="float:right" href="/home">Home</a>
  <div>
    <form onsubmit="return false;">
      <input type="text" class="searchbar" id="keyword" placeholder="Search" onsubmit='search()'>
    </form>
    <script>
    document.getElementById('keyword').addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
            search();
        }
    });
</script>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="gallery-title">{{ title }}</h1>
    </div>
    <br/>


    {% for item in data %}
    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
      <img id = 'myImg{{loop.index}}' src={{item.image_url}} class="myImg thumbnail img-responsive img-rounded center-bloc" height="350" width="auto" alt="{{item.caption}}">
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img">
        <div id="caption"></div>
      </div>
      <b>Uploaded by:</b> <a href="/home/user/{{item.name}}">{{item.name}}</a><br>
      <b>Caption:</b> {{item.caption}} <br>
      <b>Uploaded on:</b> {{item.date}} <br>
      <a href={{item.image_url}} target=_blank>View full size</a> <p></p>
      <hr>
    </div>
    {% endfor %}

  </div>
</div>
</section>



</body>
</html>
