{% extends 'layout_student.html' %} {% block title %}Profile{% endblock %} {% block content %}
<h2>Profile Page</h2>
<div>
    <form action="/pythonlogin/profile_student" method="post">
        <p>Your account details are below:</p>
        <table>
            <tr>
                <td>First Name:</td>
                <td>{{ account[1] }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ account[2] }}</td>
            </tr>
            <tr>
                <td>Student ID:</td>
                <td>{{ account[0] }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ account[4] }}</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>{{ account[5] }}</td>
            </tr>
            <tr>
                <td>
                    Interest 1:
                </td>
                <td>{{account[7]}}</td>
            </tr>
            <tr>
                <td>
                    Interest 2:
                </td>
                <td>{{account[8]}}</td>
            </tr>
            <tr>
                <td>
                    Interest 3:
                </td>
                <td>{{account[9]}}</td>
            </tr>

        </table>
        <h3>Click below to change your preferences</h3>
        <p><strong>Interest 1:</strong> </p>
        <select name="interest_1">  
                {% for o in data %}
                <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
       </select>
        <p><strong>Interest 2:</strong> </p>
        <select name="interest_2">
                {% for o in data %}
                <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
    </select>
        <p><strong>Interest 3:</strong> </p>
        <Select name="interest_3">
            {% for o in data %}
            <option value="{{ o.name }}">{{ o.name }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
